@t-bandeauImage: 44vh;

// page projet
.module--projet {

	padding-bottom: 	@t-margin * 2;
	transition: opacity .4s ease-out, margin 1.5s ease-out;

	.module--projet--header {

		padding: 0 @t-margin*2;

  	color: @c-textColor;
    padding-bottom:  @t-margin * 2;

    margin-top: @t-bandeauImage;
  	background-color: @c-pagebg;
  	margin-bottom:  -5px;

  	position: relative;
  	z-index:  10;

    transition: transform .6s ease-out, background-color .4s ease;
    -webkit-transition-timing-function: cubic-bezier(0.355, 0.255, 0.010, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.355, 0.255, 0.010, 1.055);
       -moz-transition-timing-function: cubic-bezier(0.355, 0.255, 0.010, 1.055);
         -o-transition-timing-function: cubic-bezier(0.355, 0.255, 0.010, 1.055);
            transition-timing-function: cubic-bezier(0.355, 0.255, 0.010, 1.055); /* custom */

    transform: translate3d( 0, 10vh, 0);


    // à l'arrivée (quand is--loading), afficher l'image non collapsed
    // quand le body est loading, on collapse l'image
    // sans js on ne peut pas désactiver le zoomedin
    body:not(.is--loading) .module--projet[data-visuel='']& {
      transform: translate( 0, 0, 0);
    }

    .module--projet--header--text {

    	width: 	100%;
    	margin: 0 auto;
    	max-width: @t-largemaxwidth;

      padding-top: 1.5rem;
      .clearfix();

      transition: opacity .2s ease-out;

  		h1,h2, h3 {
  			margin: 0;
  		}

      .module--projet--header--text--index {

    		display: inline-block;
        font-size:  1.15rem;
        .strong;
    		width:  2em;
    		margin-right: 0;

      	.styleLink( @rubrique, @color ) {
          [data-type= @{rubrique}]& {
            color: @color;
      		}
      	}
      	.styleLink( "vr", @c-vr);
      	.styleLink( "sites", @c-sites);
      	.styleLink( "objets-interactifs", @c-objets-interactifs);
      	.styleLink( "outils-pedagogiques", @c-outils-pedagogiques);
        .styleLink( "autres", @c-autres);
      }

      .module--projet--header--text--name {
  			.projet--name;
      }

      .module--projet--header--text--colLeft {
        float: left;
        width: 66%;

        .mediumText;

        padding-right: @t-margin*2;
        margin-top: @t-margin/2;

        > *:first-child {
          margin-top: 0;
        }
        p {
          margin-top: @t-margin/2;
        }

      }
      .module--projet--header--text--colRight {
        float: left;
        width:  34%;
        margin-top: @t-margin;
  			line-height:  1.71;

        :first-child {
          margin-top: 0;
        }

        h3 {
          margin-top: @t-margin;
          margin-bottom:  @t-margin/2;
          .titleCaps;
        }

        p {
          margin: 0;
        }

      }


    }
  }


	.module--projet--visuel {

     background-color: transparent;
    color: @c-textColor;
    overflow: hidden;
    position: absolute;
    display: block;

    top: 0px;
    left: 0;
    right: 0;

    height: 100%;
    width: 100%;

    z-index:  0;


    figure {
      margin: 0;
    }

    .FigureImage-lazy {
      position: absolute;
      width: 100%;
      height: 100vh;
      padding-bottom: 0 !important;
    }

    > .module--projet--visuel--inside {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;

      pointer-events: none;
      background-size: cover;
      background-position: center center;

      html.js & {
        opacity: 0;

        &.lazyloaded {
          opacity: 1;
        }

      }
    }

    img {
// 			object-fit: cover;
    }


	}


	// effet d'animation au click

  // avec JS, après chargement, full screen image
  &[data-visuel='zoomedIn'] .module--projet--header {
    transform: translate3d( 0, 100vh - @t-bandeauImage, 0);

    ~ .module--projet--text:nth-of-type(1) {
      transform: translate3d( 0, 100vh - @t-bandeauImage, 0);
    }

  }


  .module--projet--visuel--inside {
    transform: translate3d(0, ~"calc( -50% + 250px/2)", 0);
    transform: translate3d(0, ~"calc( -50% + @{t-bandeauImage}/2)", 0);
    opacity: .8;

    transition: transform .8s ease-in-out, opacity .5s ease-out;

  -webkit-transition-timing-function: cubic-bezier(0.130, 0.220, 0.010, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.130, 0.220, 0.010, 1.055);
     -moz-transition-timing-function: cubic-bezier(0.130, 0.220, 0.010, 1.055);
       -o-transition-timing-function: cubic-bezier(0.130, 0.220, 0.010, 1.055);
          transition-timing-function: cubic-bezier(0.130, 0.220, 0.010, 1.055); /* custom */

  }

  &[data-visuel='zoomedIn'] .module--projet--visuel--inside {
    transform: translate3d( 0, 0, 0);

  }


  body.is--ajax_loading &[data-visuel='zoomedIn'] {
    transition: none;
    .module--projet--visuel--inside {
      transition: none;
    }
  }


	.styleLink( @rubrique, @color ) {
    [data-type= @{rubrique}]& {
      h3 {
        color: @color;
		  }

		  .module--projet--header--text a, .module--projet--text a {
      	background-position: 0 100%;
      	background-repeat: no-repeat;
      	background-size: 200% 1px;
      	transition:	all .25s;

  			background-image: linear-gradient(to right,
		                                  @color,
		                                  @color 50%,
		                                  transparent 50%,
		                                  transparent);


		  }
		}
	}
	.styleLink( "vr", @c-vr);
	.styleLink( "sites", @c-sites);
	.styleLink( "objets-interactifs", @c-objets-interactifs);
	.styleLink( "outils-pedagogiques", @c-outils-pedagogiques);
	.styleLink( "autres", @c-autres);



	.module--projet--text {

  	position: relative;
  	z-index:  10;

    background-color: @c-pagebg;
    color: @c-textColor;
		padding: 0 12.5% 0 12.5%;
		padding:  0 @t-margin*2;

  	padding-top:    2rem;
  	padding-bottom: 2rem;

  	transition: opacity .9s, transform .6s;


    -webkit-transition-timing-function: cubic-bezier(0.355, 0.255, 0.010, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.355, 0.255, 0.010, 1.055);
       -moz-transition-timing-function: cubic-bezier(0.355, 0.255, 0.010, 1.055);
         -o-transition-timing-function: cubic-bezier(0.355, 0.255, 0.010, 1.055);
            transition-timing-function: cubic-bezier(0.355, 0.255, 0.010, 1.055); /* custom */

    // sur une page projet, virer les encarts lorsqu'on hover la projetListe
    body[module--gradient_overlay="is--away"] & {
      opacity: 0;
    }

    // ligne en bas
    &:last-child:nth-of-type(odd) {
      padding-bottom: 0;
      &::after {
        content: "";
        border-top: 1px solid #444;
        display: block;
        max-width: @t-largemaxwidth;
        width: 100%;
        margin: 0 auto;

        margin-top: @t-margin * 2;
        margin-bottom: 0;
      }
    }

		&:nth-of-type(even) {
      background-color: @c-pagebgwhite;
      color: @c-pagebg;

      >.media-image, >.media-video, >.media-tweet {
      	.FigureImage-lazy {
          background-color: shade( @c-pagebgwhite, 2%);
      	}
      }
		}

  	img, video {
    	width: 100%;
  		max-width: 100%;
  		height: auto;
  	}
  	figure {
  		margin: 0;
  	}
  	ul,ol {
    	list-style-type: none;

      li {
				margin-left: 4rem;
				margin-right: 4rem;
        margin-bottom:  1rem;

  			&::before {
  				content: "->";
  				color: @c-textMeta;
  				margin-left: -1.5em;
  				width:  1.5em;
  				display: inline-block;
  			}
  		}
  	}

    >.media-image, >.media-video, >.media-tweet {

      display: block;
    	padding-top: 2rem;
    	padding-bottom: 2rem;
      max-width: @t-largemaxwidth;

      margin: 0 auto;


    	+ .media-image, + .media-video {
      	padding-top:  1rem;
    	}

    	.twitter-tweet {
      	margin: 0 auto !important;
    	}

    	.FigureImage-lazy {
        background-color: tint( @c-pagebg, 2%);
    	}

      .legende, .caption-bottom {
        margin-left: 0;
        padding: 0;

        max-width: 76ch;
        font-size:  .8em;

        p {
          max-width: 76ch;
          padding-top:  .4em;
        }
      }
    }

    .media-video {
      &.capture_siteweb {
          border: 1px solid #E3E3E3;
          border-radius: 4px;
          padding-top: 40px;
          background-color: #E3E3E3;
          box-shadow: 0px 0px 30px -10px #ccc;

      }
    }

  	p, ul, ol {

    	&:empty { display: none; }

    	&:not(:empty) {
      	max-width: 44em;
      	max-width: 66ch;
      	margin: 0 auto;

      	padding-top: .8rem;
      	padding-bottom: 1.3rem;

      	& + p, ul, ol {
        	padding-top: 0rem;
      	}
      }
  	}

    h2 {
      .mediumText;
    	max-width: 44em / 1.4;
    	max-width: 66ch / 1.4;
    	margin: 0 auto;
      	padding-top: 1em;
      	padding-bottom: .5em;
    }

    h3 {
      .titleCaps;
    }

	}
}


.styleProjet( @rubrique, @color ) {
  body[data-rubrique= @{rubrique}] {
    .module--projet--header {
//       box-shadow: 0px 50px 50px 45px @color;

    }

    hr {
//       border-color: @color;
    }

    .module--projet--visuel {
//       background-color: @color;
    }
	}
}
.styleProjet( "vr", @c-vr);
.styleProjet( "sites", @c-sites);
.styleProjet( "objets-interactifs", @c-objets-interactifs);
.styleProjet( "outils-pedagogiques", @c-outils-pedagogiques);
.styleProjet( "autres", @c-autres);


