@import (less) "../../bower_components/normalize-css/normalize.css";
@import "_fonts.less";
@import "_image.less";
// @import "_grid.less";

//@c-pagebg: #181818;
@c-pagebg: #1F1F1F;
@c-pagebgwhite: #F0F0F0;

@c-textColor: #f9f9f9;
@c-textMeta: #bbb;

@c-linkhover: @c-pagebg;

@c-vr:                      #38C4B2; //#3ECCB2
@c-sites:                   #03B8F4;
@c-objets-interactifs:    #ABD190; //#D1DF98;
@c-outils-pedagogiques:  #FFC162; //#FFCE5B
@c-autres:                 #ACA8A5;

@t-margin: 16px;
@t-largemaxwidth: 66rem;

@m-md: 48em;
@md:    ~"only screen and (min-width: @{m-md})";
@media @md {}

@m-lg: 62em;
@lg:    ~"only screen and (min-width: @{m-lg})";
@media @lg {}


::-moz-selection {
    background: rgba(0, 220, 140,0.25);
}
::selection {
    background: rgba(0, 220, 140, 0.25);
}


.styleLink( @rubrique, @color ) {
	body[data-rubrique=@{rubrique}] {
    ::-moz-selection {
      // par défaut le background d'une selection est transparent. Pour le rendre vraiment opaque il faut lui donner un
      background: fade( @color, 82%);
    }
    ::selection {
      background: fade( @color, 82%);
    }
	}
}
.styleLink( "vr", @c-vr);
.styleLink( "sites", @c-sites);
.styleLink( "objets-interactifs", @c-objets-interactifs);
.styleLink( "outils-pedagogiques", @c-outils-pedagogiques);
.styleLink( "autres", @c-autres);


audio,
canvas,
progress,
video {
  display: block; /* 1 */
  vertical-align: baseline; /* 2 */
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.projet--index {
	font-size:  5rem;
	@media @md {
  	font-size:  7rem;
	}
}
.projet--index_small {
  font-size:  1.15rem;
  .strong;
}

.projet--name {
	font-size: 	1rem;
	@media @md {
  	font-size: 	1.3rem;
  }
}

.projet--chapeau {
	font-size: 	1.2rem;
  max-width: 66 * 1.1 / 1.2ch;

	@media @md {
    	font-size: 	1.4rem;
    max-width: 66 * 1.1 / 1.4ch;
	}
}

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


.containMe {
	width: 	100%;
	max-width: @t-largemaxwidth;
	margin: 0 auto;
  padding: 0 @t-margin;

  @media @md {
    padding: 0 @t-margin * 2;
  }
}
.rowDecale {
	margin: 150px auto 10vh;
	@media @lg {
		margin: 22vh	7% 16vh 33.333% ;
	}

}

body {

  .gt-reg;
  margin: 0 auto;
  font-size: .8rem;
  line-height: 1.78;

  color: @c-textColor;
  background-color: @c-pagebg;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal;

  @media @md {
    font-size: 1.1rem;
  }
}


// cas pjax
#pjax-container {
  opacity: 1;
  transition: opacity .2s;

  body.is--ajax_loading & {
    opacity: 0;

  }
}
.module--projetList--titles {
  opacity: 1;
  transition: opacity .4s;

  body.is--ajax_loading & {
    opacity: 0;
    pointer-events: none;

    .module--projetList--titles--projetName--links {
      pointer-events: none !important;
    }
  }
}



strong, .strong {
  .gt-bold;
}
em {
  font-style: normal;
  .strong;
}

h1, h2, h3, h4, h5, h6, b {
  font-weight: normal;
  font-size: 	inherit;
}

ul, ol {
	padding-left:  0;
	margin-left: 0;
  list-style: none;
}


hr {
  border: none;
  border-top: 1px solid #444;
  margin-top: @t-margin*2;
  margin-bottom:  @t-margin*2;
}


a, a:hover, a:focus, a:active, a:visited {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: 1px solid @c-textMeta;
}

.titleCaps {
	font-size: .7rem;
  .strong;
	margin-top: @t-margin;
	margin-bottom: 0;
	text-transform: uppercase;
  letter-spacing: .06rem;
}



.module--navbar {

	color: #fff;

  position: relative;
  z-index: 1000;

  html.js & {
    opacity: 1;
    transition: opacity .9s 1s ease-out;
  }
  html.js body.is--loading & {
    opacity: 0;
  }


  .module--navbar--wrapper {
  	position: fixed;
  	top: 0;
  	width:  100%;
    pointer-events: none;

    @media @md {
      padding: 0 @t-margin;

    }
  }

	a {
  	  display: block;
		padding: @t-margin;
//     margin-left: -@t-margin;

  	  font-size: .7rem;
    .strong;
    text-transform: uppercase;

    letter-spacing: .06rem;

    pointer-events: all;

    @media @md {
      margin-top: @t-margin;
    }


    &:hover, &:focus {
//       outline: 1px solid #fff;
      outline: none;
    }

	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.module--logo {
  	display: block;
  	float: left;

		svg {
			width: 60px;
		}
	}
	.module--navbar--list {

    float: right;

  	.module--navbar--list--item {

      display: inline-block;

  		a {
  		}

  	}
  }

}

// page default
.module--default {
  .containMe;
  margin-top: 40px;
}


// page home
.module--intro, {

	.containMe;

  font-size: 1.2rem;
  line-height: 1.6;

  @media @md {
  	font-size: 	1.8rem;
  }

	.module--intro--textblock {
    .rowDecale;
	}

  h3 {
    .titleCaps;
  }

	a {
		display: inline;
		cursor: pointer;
		color: #fff;
		padding: .1em .0em;
		margin: -.1em -.0em;
    text-shadow: 0 2px 4px rgba(0,0,0,.2)

    	background-position: 0 100%;
    	background-repeat: no-repeat;
    	background-size: 250% 1px;
    	transition:	all .25s, background-position 1.6s ease-out;

	  outline: 1px solid transparent;

    &:hover {
      background-size: 250% 10%;
    }
    &:focus, &.is--active {
//   	  padding: .1em .12em;
    }
	  &.is--active {
      background-size: 250% 100%;
    }


  	.styleLink1( @rubrique, @color ) {
  		&[href*= @{rubrique}] {
  			background-image: linear-gradient(to right,
  			                                  @color,
  			                                  @color 50%,
  			                                  transparent 50%,
  			                                  transparent);
  		}

      &:focus {
    		&[href*= @{rubrique}] {
    		  outline: 1px solid @color;
        }
      }
  	}

  	.styleLink1( "vr", @c-vr);
  	.styleLink1( "sites", @c-sites);
  	.styleLink1( "objets-interactifs", @c-objets-interactifs);
  	.styleLink1( "outils-pedagogiques", @c-outils-pedagogiques);
  	.styleLink1( "autres", @c-autres);

	}


	html.js & {
    opacity: 1;
  	transition: opacity 1.4s ease-out, transform .6s ease-out;

  	a {

      .animationDifferee(@index) {
        &:nth-of-type(@{index}){
          transition:	background-size .2s, background-position 2.2s @index * .6s;


  -webkit-transition-timing-function: cubic-bezier(0.315, 0.110, 0.000, 0.985);
     -moz-transition-timing-function: cubic-bezier(0.315, 0.110, 0.000, 0.985);
       -o-transition-timing-function: cubic-bezier(0.315, 0.110, 0.000, 0.985);
          transition-timing-function: cubic-bezier(0.315, 0.110, 0.000, 0.985); /* custom */

        }
      }
      .animationDifferee(1);
      .animationDifferee(2);
      .animationDifferee(3);
      .animationDifferee(4);
      .animationDifferee(5);

  	}
	}

  html.js body.is--loading & {
    opacity: 0;
    transform: translateY(15px);

    a {
      background-position: 100% 100%;
    }
  }

}



// tous les contenus

main {
  a, a:hover {
  	background-position: 0 100%;
  	background-repeat: no-repeat;
  	background-size: 200% 1px;

  	background-image: linear-gradient(to right,
  	                                  #fff,
  	                                  #fff 50%,
  	                                  transparent 50%,
  	                                  transparent);
  }
  a:focus {
	  outline: 1px solid transparent;

  }

  a.lienProjet {
    font-size:  .75em;
    position: relative;
    .strong;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 .15em .3em;
    padding-bottom: 0;

    background-position: 00% 88%;
    background-size: 250% 2px;

    &::before {

      @finalWidth: 12;
      @finalHeight: 1.8;

      position: absolute;
      top: -((@finalHeight * 50%) - 50%);
      left: -((@finalWidth * 50%) - 50%);
      padding: .7em;
      padding-top:  .8em;
      width: @finalWidth * 100%;
      height: @finalHeight * 100%;

      background: #fff;
      color: transparent;
      content: attr(title);
      white-space: pre-wrap;
      word-break: break-all;
      opacity: 0;
      transform: scale( 1/@finalWidth, 1/@finalHeight);

      transition: opacity 0.3s, color 0.3s, transform 0.3s, background-position 0.2s;
      transition-timing-function: cubic-bezier(0.130, 0.220, 0.010, 1.055);

      pointer-events: none;
      text-align: center;
    }

    &:hover, &:focus {
      &::before {
        color: #fff;
        opacity: 1;
        transition-delay: 0s, 0s, 0s, 0.1s;
        transform: scale(1) translateY(-80%);
        pointer-events: auto;
      }
    }

  	.styleLink1( @rubrique, @color ) {
      &[data-rubrique=@{rubrique}] {
    		&::before {
          background-color: fade( @color, 94%);
        }
    	}
    }

  	.styleLink1( "vr", @c-vr);
  	.styleLink1( "sites", @c-sites);
  	.styleLink1( "objets-interactifs", @c-objets-interactifs);
  	.styleLink1( "outils-pedagogiques", @c-outils-pedagogiques);
  	.styleLink1( "autres", @c-autres);


  }

	ul,ol {
  	list-style-type: none;

    li {
			margin-left: 4rem;
			margin-right: 4rem;
      margin-bottom:  1rem;

			&::before {
				content: "->";
				color: @c-textMeta;
				margin-left: -1.5em;
				width:  1.5em;
				display: inline-block;
			}
		}
	}

	img, video {
  	width: 100%;
		max-width: 100%;
		height: auto;
	}

}

.module--infos {


	.containMe;


  h3 {
    .titleCaps;
  }

  h1 {
  	font-size: 	1.6rem;
    line-height: 1.6;
  }


  h1 {
  }

  h2, h3, p, ul, ol {
    //max-width: 36ch;
  }


  .module--infos--textblock {
    .rowDecale;
  }


	a {
		display: inline;
		cursor: pointer;
		color: #fff;
		padding: .1em .0em;
		margin: -.1em -.0em;

  	background-position: 0 100%;
  	background-repeat: no-repeat;
  	background-size: 250% 1px;
  	transition:	all .25s;

	  outline: 1px solid transparent;

    &:hover {
      background-size: 250% 10%;
    }
    &:focus, &.is--active {
  	  padding: .1em .12em;
    }

  	.styleLink1( @rubrique, @color ) {
  		&[data-rubrique=@{rubrique}] {
    		color: @color;
  			background-image: linear-gradient(to right,
  			                                  @color,
  			                                  @color 50%,
  			                                  transparent 50%,
  			                                  transparent);
  		}

      &:focus {
    		&[data-rubrique=@{rubrique}] {
    		  outline: 1px solid @color;
        }
      }
  	}

  	.styleLink1( "vr", @c-vr);
  	.styleLink1( "sites", @c-sites);
  	.styleLink1( "objets-interactifs", @c-objets-interactifs);
  	.styleLink1( "outils-pedagogiques", @c-outils-pedagogiques);
  	.styleLink1( "autres", @c-autres);

	}
}



// page home
.module--projetList {

  position: relative;
  margin-top:   @t-margin;
  padding-top:  @t-margin * 2;

  .containMe;

  html.js & {
    opacity: 1;
    transition: opacity .6s .6s ease-out;
  }

  html.js body.is--loading & {
    opacity: 0;
  }
}
.module--projetList--titles {

  position: relative;

  list-style-type: none;
  z-index: 101;

  // le padding est sur les éléments intérieurs
  margin-bottom:  @t-margin*2;

  pointer-events: none;

  h3 {
    .titleCaps;
    margin-bottom: 1px;
    width:  100%;
    opacity: 1;
    max-height: none;
    transition: opacity .4s;

    &.is--hidden {
      padding: 0;
      margin: 0;
      max-height: 0;
      opacity: 0;
    }
  }

	.module--projetList--titles--projetName {


    position: relative;
    float: left;

    @t-vignettesize: 100%;
    width: @t-vignettesize;
    padding: 0 0 @t-vignettesize/2.5;

    height: 0;

    overflow: visible;
		transition: opacity .3s ease-out;

    -webkit-transition-duration: 0.8s;
       -moz-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
         -o-transition-duration: 0.8s;
            transition-duration: 0.8s;

    pointer-events: auto;


    @media @md {
      @t-vignettesize: 50%;
      width: @t-vignettesize;
      padding: 0 0 @t-vignettesize/2;
    }
    @media @lg {
      @t-vignettesize: 33.333%;
      width: @t-vignettesize;
      padding: 0 0 @t-vignettesize/1.6;
    }


    &.is--visited {
      .module--projetList--titles--projetName--links--name {
      }
    }
    &.is--active {
      .module--projetList--titles--projetName--links--index {
      }
    }

		.module--projetList--titles--projetName--links {

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;

      	transition: color .4s ease-in-out, background-color .4s ease-in-out, opacity .5s ease-in, border .2s linear;

      text-align: center;

      	&--index {

      		.projet--index;
      		display: block;
      		position: absolute;

      		top:48%;
      		right: 60%;
      		width:  40%;

      		transform: translate3d( 0%, -50%, 0);
      		transform-origin: center;

      		padding-right: 2.5%;
        text-align: right;
        line-height:  1;

        z-index: 0;
      }

      	&--name {

        	.projet--name;
        color: #fff;

        line-height:  1.2;

        display: block;
    			position: absolute;

      		top: 48%;
      		left: 40%;
      		width:  60%;

      		transform: translate3d( 0%, -50%, 0);
      		z-index:  1;

      		padding-left: 2.5%;
        line-height:  1.4;
        text-align: left;

      	}

      	&--corners {
        	position: absolute;
        	display: block;
        	width:  4px;
        	height: 4px;
        	overflow: hidden;
        	top:0;
        	left: 0;
        	border-left: 1px solid currentColor;
        	border-top:  1px solid currentColor;

        background-color: transparent;
        transition: width .4s ease-in, height .4s ease-out, background-color .7s;

        	&::after {
          content: '';
          position: absolute;
          width: 1px;
          height: 1px;
          left: var(--x);
          top: var(--y);
          background: radial-gradient(circle closest-side, transparent, transparent);
          background-repeat: no-repeat;
          transform: translate(-50%, -50%);

          transition: width .2s, height .2s;

          pointer-events: none;
        	}

      	}

      // pour aligner au centre les inline-block
      &::before {
          content: "";
          display: inline-block;
          height: 95%;
          vertical-align: middle;
      }

      	&--index {
  				transition: color .8s ease-out, transform .9s ease-out, opacity .8s, background .44s, right .6s ease-out, -webkit-text-stroke .4s ease-out;
      	}
      &--name {
				transition: color .8s ease-out, transform .9s ease-in-out, opacity .8s, background .44s, left .6s;
      }
		}
  }


	.styleHover( @rubrique, @color ) {

    	h3[data-type= @{rubrique}]::after {
        content: "";
        position: absolute;
        top: 1.2rem;
        width: auto;
        height: 1px;
        background-color: @color;
        left: 0;
        right: 0;

        display: none;
    	}

    .module--projetList--titles--projetName {
      &[data-type= @{rubrique}] {
    			.module--projetList--titles--projetName--links {
          &:focus {
            outline: 1px solid @color;
          }
          &--index{
            color: @color;
            .is--sorted& {
            }
          }
          &--name {
            color: @color;
          }
          &--corners {
            color: @color;
          }
    		  }

        &.is--visited {
    			  .module--projetList--titles--projetName--links--name {

          }
    			  .module--projetList--titles--projetName--links--index {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: @color;
            -webkit-text-fill-color: transparent;
          }
      		}
      }
    	}

    	// survol sur tout le menu, effet sur toutes les vignettes sauf celle survolées
    	&:hover .module--projetList--titles--projetName[data-type= @{rubrique}] {


    		&.is--visited {
      	  .module--projetList--titles--projetName--links--index {

        }
      }

      	.module--projetList--titles--projetName--links {

        &:not(:hover) {
          .module--projetList--titles--projetName--links--index {
            opacity: 0.8;
          }
          .module--projetList--titles--projetName--links--name {
            opacity: 0.8;
          }
          .module--projetList--titles--projetName--links--corners {
            opacity: 1;
          }
        }

        &:hover {
    				.module--projetList--titles--projetName--links--index {
          		right: 50%;
          		transform: translate3d( 50%, -50%, 0) scale( 1.8);
          }
    				.module--projetList--titles--projetName--links--name {
            transform: translate3d( -25%, -50%, 0) scale( 1.2);
            color: #fff;
            background-color: transparent;
    				}
          .module--projetList--titles--projetName--links--corners {
            opacity: 1;
            width: 100%;
            height: 100%;
            background-color: fade(@color, 84%);

            &::after {
              width: 500px;
              height:500px;
              background: radial-gradient(circle closest-side, @color, transparent);
            }
          }
      		}
      }
  	  }
  }
	.styleHover( "vr", @c-vr);
	.styleHover( "sites", @c-sites);
	.styleHover( "objets-interactifs", @c-objets-interactifs);
	.styleHover( "outils-pedagogiques", @c-outils-pedagogiques);
	.styleHover( "autres", @c-autres);
}


.module--projetList--visuelWrapper {

  position: absolute;
  z-index:  -100;
	top: 0;	left: 0;
	width: 	100%;
	height: 	100%;
	background-color: transparent;
	z-index:  100;

	pointer-events: none;


	.module--projetList--visuelWrapper--bgmask {
    	position: fixed;
    top: 0; left: 0;  right: 0; bottom: 0;
    z-index: -5;
    opacity: 0;
    background-color: @c-pagebg;

    transition: opacity .1s ease-out;

	}


  .module--projetList--visuelWrapper--visuel {

    position: fixed;

    top: 0; left: 0;  right: 0; bottom: 0;

    	background-size: cover;
    	background-position: center center;

    opacity: 0;

    visibility: hidden;

    transform: translate3d( 0, 0, 0);
  		transform-origin: center;
  		z-index: 1;

    will-change: opacity, transform;
    transition: opacity .4s linear, transform .4s ease-out;

    &.lazyload, &.lazyloading, &.lazyloaded {
      visibility: visible;
    }

    	&.was--shown {
      z-index: 0;
    	}

    	&.is--shown {
      opacity: .4;
      transition: opacity .4s .4s ease-out;
    	}
    	// cas pjax : la vignette cliquée
    	&.is--visuelProjet {
      	opacity: 1;
      	z-index:  2;
      transition: opacity .4s ease-in;
    	}

    	&.is--shown ~ .module--projetList--visuelWrapper--bgmask {
//       	opacity: 1;
    	}
  }
  body.is--ajax_loading & {
    .module--projetList--visuelWrapper--bgmask {
      //opacity: 0 !important;
    }
  }
}


@import "_projet.less";

@import "_cv.less";
