@import (less) "../../bower_components/normalize-css/normalize.css";
@import "_fonts.less";
@import "_image.less";

@c-pagebg: #151515;

@c-textColor: #f9f9f9;
@c-textMeta: #999;

@c-vr:                     #0A997F;
@c-sites:                  #03a9f4;
@c-installations:          #D1DF98;
@c-outils-pedagogiques: #FECD62;




::-moz-selection {
    background: rgba(0, 220, 140,0.25);
}
::selection {
    background: rgba(0, 220, 140, 0.25);
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.largeText {
	font-size: 	2em;
}
.mediumText {
	font-size: 	1.4em;
}

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


.containMe {
	width: 	100%;
	max-width: 88em;
	margin: 0 auto;
	padding: 0 10%;
}

body {

  font-family: 'gt cinetype regular', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.91;

  color: @c-textColor;
  background-color: @c-pagebg;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal;
}

strong {
  font-family: 'GT Cinetype Bold';
}

h1, h2, h3, h4, h5, h6, b {
  font-weight: normal;
  font-size: 	inherit;
}


      hr {
        border: none;
        border-top: 1px solid #333;
      }


a, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h3 {
	font-size: .8rem;
	font-family: 'GT Cinetype Bold';
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}



.module--navbar {
	position: fixed;

  .containMe;
  top:0;

	text-transform: lowercase;

	color: #fff;

	a {
		padding:.5rem;
		margin-left:  -.5rem;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.module--logo {
		svg {
			width: 60px;
		}
	}
	.module--navbar--list {

  	.module--navbar--list--item {

      display: inline-block;

  		a {
  		}

  	}
  }

}

// page default
.module--default {
}


// page home
.module--intro {

	.containMe;
	font-size: 	1.8rem;
  line-height: 1.6;

	transition: opacity .4s .4s ease-out;

	.module--into--textblock {
		margin: 24vh	0 14vh 33% ;
		max-width: 22em;
	}
	body[module--gradient_overlay="is--away"] & {
    opacity: 0;
    transition: opacity .4s ease-out;
  }

	a {
		display: inline;
		cursor: pointer;
		color: #fff;
		padding: .1em .0em;
		margin: -.1em -.0em;

  	background-position: 0 100%;
  	background-repeat: no-repeat;
  	background-size: 200% 1px;
  	transition:	all .25s;


  	.styleLink( @rubrique, @color ) {
  		&[href*= @{rubrique}] {
  			background-image: linear-gradient(to right,
  			                                  @color,
  			                                  @color 50%,
  			                                  transparent 50%,
  			                                  transparent);
  		}
  	}

  	.styleLink( "vr", @c-vr);
  	.styleLink( "sites", @c-sites);
  	.styleLink( "installations", @c-installations);
  	.styleLink( "outils-pedagogiques", @c-outils-pedagogiques);

    &:hover {
    	.styleLink( @rubrique, @color ) {
    		&[href*= @{rubrique}] {
          background-size: 200% 10%;
    		}
    	}

    	.styleLink( "vr", @c-vr);
    	.styleLink( "sites", @c-sites);
    	.styleLink( "installations", @c-installations);
    	.styleLink( "outils-pedagogiques", @c-outils-pedagogiques);
    }

	  &.is--active {
    	.styleLink( @rubrique, @color ) {
    		&[href*= @{rubrique}] {
          background-size: 200% 100%;
    		}
    	}

    	.styleLink( "vr", @c-vr);
    	.styleLink( "sites", @c-sites);
    	.styleLink( "installations", @c-installations);
    	.styleLink( "outils-pedagogiques", @c-outils-pedagogiques);
    }

	}

}

.projet--number {
	font-size: 	.6em;
	letter-spacing: .05em;
	text-transform: uppercase;
	margin-right: 	3em;

	font-family: 'GT Cinetype Bold';
}
.projet--type {
	margin-right: 	32px;
	display: inline-block;
	width: 6px;
	height: 6px;
}


.projet--name {
	padding-top: 			.5em;
	padding-bottom: 	.5em;
	display: block;
	color: #fff;
	.largeText;
	transition: letter-spacing .4s ease-in-out, opacity .4s ease-in-out, color .4s ease-in-out;

}



// page home
.module--projetList {

	.containMe;

	min-height: 120vh;
//   counter-reset: projet;
  list-style-type: none;

  &:hover .module--projetList--projetName .module--projetList--projetName--links {
    color: rgba( 171, 171, 171,1);

    &:hover {
      color: inherit;
    }
  }

	.module--projetList--projetName {

  	width: 80%;
		transition: opacity .3s ease-out;

  	.styleLink( @rubrique, @color ) {
      &[data-type= @{rubrique}] .module--projetList--projetName--links--index {
        color: @color;
  		}
  	}
  	.styleLink( "vr", @c-vr);
  	.styleLink( "sites", @c-sites);
  	.styleLink( "installations", @c-installations);
  	.styleLink( "outils-pedagogiques", @c-outils-pedagogiques);


    body[data-template="projet"] & {


      &:not(.is--active):not(:hover) {
        font-size: .5em;
      }

    }


		.module--projetList--projetName--links {
			.projet--name;

    	&--index {
    		.projet--number;
    	}

			&::after {
				content: "->";
				margin-left: -1em;
				opacity: 0;
				transition: margin .3s ease-out, opacity .2s ease-out;
				font-family: 'gt cinetype regular';
			}

		}

		&:hover {
			opacity: 1;
			a {
				letter-spacing: 5px;

				&::before {
				}
				&::after {
			    opacity: 1;
			    margin-left: 1em;
					transition: margin .25s .3s ease-out, opacity .3s .4s ease-out;
				}
			}
		}
	}
}

// page projet
.module--projet {

	color: @c-textColor;
	background-color: @c-pagebg;

	margin-top:   24vh;
	padding-bottom: 	30px;

	transition: opacity .4s .2s ease-out;


	.module--projet--header {

    .containMe;


    .module--projet--header--text {

  		padding-top: 2rem;
      .clearfix();

  		h1,h2, h3 {
  			margin: 0;
  			line-height:  1.4;
  		}

      .module--projet--header--text--index {
    		.projet--number;

      	.styleLink( @rubrique, @color ) {
          [data-type= @{rubrique}]& {
            color: @color;
      		}
      	}
      	.styleLink( "vr", @c-vr);
      	.styleLink( "sites", @c-sites);
      	.styleLink( "installations", @c-installations);
      	.styleLink( "outils-pedagogiques", @c-outils-pedagogiques);
      }

  		h1 {
  			.projet--name;
  		}
  		h2 {
        .mediumText
  		}

      .module--projet--header--text--colLeft {
        float: left;
        width: 66%;

        font-size:  1.4em;

        > *:first-child {
          margin-top: 0;
        }
        p {
          margin-top: .5em;
        }

      }
      .module--projet--header--text--colRight {
        float: right;
        right:  34%;

        h3 {
          margin-top: .5em;

        }

      }


    }
	}

	.module--projet--header--visuel {

    background-color: @c-pagebg;
    color: @c-textColor;

    img {
      max-width: 100%;

    }
	}

	.module--projet--text {

    background-color: @c-pagebg;
    color: @c-textColor;
		padding: 0 15% 0 15%;

		&:nth-child(odd) {
      background-color: @c-textColor;
      color: @c-pagebg;
		}

  	img {
  		max-width: 100%;
  	}
  	figure {
  		margin: 0;
  	}
  	ul,ol {
    	padding-left:  0;
    	margin-left: 0;
    	list-style-type: none;

      li {
				margin-left: 4rem;
				margin-right: 4rem;
        margin-bottom:  1rem;

  			&::before {
  				content: "->";
  				margin-left: -1em;
  				font-family: 'gt cinetype regular';
  				color: @c-textMeta;
  			}
  		}
  	}

    .media-image {

    	padding-top: 2rem;
    	padding-bottom: 2rem;

      .legende {
        p {
          margin-left: 0;
          padding: 0;
        }
      }

    }


  	p, ul, ol {

    	&:empty { display: none; }

    	&:not(:empty) {
      	max-width: 44em;
      	max-width: 66ch;
      	margin: 0 auto;

      	padding-top: 2rem;
      	padding-bottom: 2rem;

      	& + p, ul, ol {
        	padding-top: 0rem;
      	}
      }
  	}



	}



}

// cas spécial : on utilise le même markup sur la page d'accueil (parce que c'est plus simple (en théorie !))
// voici les exceptions pour module--projet
body[data-template="home"] {

	.module--projet {

		position: fixed;
		z-index: -150;

		top: 0;	left: 0;
		width: 	100%;
		height: 	100%;

		opacity: 0;
    filter: grayscale(40%);

    z-index: -2;

    transition: opacity .6s 0s ease-out, filter .6s 0s ease-out;

  	&.is--shown {
      opacity: .8;
      filter: grayscale( 0%);
      transition: opacity .4s ease-out, filter .4s .2s ease-out;

      z-index:  -1;
  	}


		&::before {
			display: none;
		}

  	.module--projet--header--visuel {
  		position: fixed;
  		top:0;
  		left: 0;
  		z-index: 	-2;
      width: 100%;
      height: 100vh;

      max-width: none;

      padding:0;

      img {
  			object-fit: cover;
  			width: 100vw;
  			height: 100vh;
      }
  	}

		.module--projet--header--text {
  		opacity: 0;
		}
	}
}





.module--gradient_overlay {
	position: fixed;
	left: 0;	top: 0;	bottom: 0; right: 0;
	z-index: -1;

	&::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  	background-color: #151515;
  	transition: background-color .4s .4s ease-out;
	}

	body[module--gradient_overlay="is--away"] & {
  	&::before {
  	  background-color: transparent;
  	}
	}

}

body[data-template="projet"] .module--gradient_overlay {
	display: none;
}